// Variables
@import "./variables";

//Font Styles
.lilac-text {
  color: $lilac;
}

%small-text-on-black {
  color: $small-text-on-black;
  text-transform: uppercase;
  font-size: $tiny-font-size;
}

@mixin h1-styles {
  font-size: 5vw;
  font-family: $header-font;
}

h1 {
  @include h1-styles;
}

h2 {
 @include h1-styles;
}

// Padding and Margins

%gutters {
  padding-left: $section-spacing;
  padding-right: $section-spacing;
}

// Navigation
%nav-link {
  color: $white;
  text-decoration: none;
  padding: $spacing;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-decoration-color: transparent;

  &:hover {
    text-decoration-color: $white;
  }
}

// Global
* {
  transition: text-decoration-color .25s ease-in-out,
              background-color .25s ease-in-out,
              color .25s ease-in-out,
              border-color .25s ease-in-out,
              opacity .25s ease-in-out;
}

body {
   margin: 0;
   font-family: $body-font;
   font-size: $base-font-size;
   background-color: $light-bg-color;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

.container {
  max-width: $page-width;
  margin: 0 auto;
  padding: $section-spacing;
  margin: 0 calc($section-spacing * 2);
}

// Sections
.announcement {
  background-color: $purple;
  color: $white;
  padding: $spacing;
  text-align: center;
  font-size: $small-font-size;

  p {
    margin: 0;

    a {
      color: $white;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 4px;

      &:hover {
        opacity: .8;
      }
    }
  }
}

.main-nav {
  background: $black;
  @extend %gutters;

  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
      display: grid;
      grid-auto-flow: column;
      grid-gap: calc($spacing * 2);

      li:last-of-type a {
        padding-right: 0
      }
    }

    li {
      display: flex;

      a {
        @extend %nav-link;
      }
    }
  }

  .logo a {
    display: grid;
    grid-gap: calc($spacing / 3);
    padding-left: 0;
    text-decoration: none;

    small {
      @extend %small-text-on-black;
    }
  }
}

.footer-nav {
  background: $black;
  @extend %gutters;

  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
      display: grid;
      grid-auto-flow: column;
      grid-gap: calc($spacing * 2);

      li:last-of-type a {
        padding-right: 0
      }
    }

    li {
      display: flex;

      a {
        @extend %nav-link;
      }
    }
  }

  .logo a {
    display: grid;
    grid-gap: calc($spacing / 3);
    padding-left: 0;
    text-decoration: none;
    text-align: right;

    small {
      @extend %small-text-on-black;
    }
  }
}

.main-header {
  background-color: $black;
  color: $white;
  padding: $section-spacing 0;
  @extend %gutters;

  h1 {
    margin-bottom: $section-spacing;

    span {
      white-space: nowrap;
    }
  }

  &__cta {
    background-color: $black-lighter;
    border-radius: $radius;
    padding: $double-spacing;
    display: grid;
    grid-gap: $section-spacing;
    grid-auto-flow: column;
    align-items: center;

    p {
      color: $text-on-black;
    }
  }

  &__brands {
    margin-top: $section-spacing;

    &__header {
      @extend %small-text-on-black;
    }
  }
}