// Variables
$black: #000000;
$black-lighter: #191919;
$text-on-black: #B2B2BE;
$white: #ffffff;
$light-bg-color: #F8F8F8;
$purple: #655CEB;
$lilac: #C5B9FF;
$pink: #EE2697;
$lime: #E7FC6E;
$orange: #FF4D00;
$btn-color: #35333C;

$small-text-on-black: #B2B2BE;
$header-font: "Anybody", sans-serif;
$body-font: "Public Sans", sans-serif;

$spacing: 1rem;
$double-spacing: calc($spacing * 2);
$section-spacing: calc($spacing * 4);
$page-width: 1500px;
$radius: 4px;

$base-font-size: 20px;
$small-font-size: calc($base-font-size * .8);
$tiny-font-size: calc($base-font-size * .6);
